 

<h5 class="ui header">Edit Location</h5>
<div class="ui divider"></div>
<form name="locationform" data-ng-submit="saveContact(contact, locationform)" role="form" class="ui secondary small form segment">
    <h5 class="ui header">Edit Location</h5>
    <div class="ui divider"></div>
    <div class="field">
        <label for="name">Name<span style="color:Red">*</span></label>
        <input type="text" id="name" placeholder="Name" required data-ng-model="location.Name">
    </div>
    <div class="ui divider"></div>
    <div class="field">
        <label for="description">
            Description<span style="color:Red">*</span>
        </label>
        <textarea id="description" placeholder="Description" required data-ng-model="location.Description"></textarea>
    </div><div class="ui divider"></div>
    <div class="inline field">
        <button data-ng-disabled="locationform.$invalid" data-ng-click="editLocation(location)" class="ui blue mini button">
            Submit
        </button>
        <a class="ui black mini button" href="/Locations">Cancel</a>
    </div>
</form> 
