<!DOCTYPE html>
<html data-ng-app="resourceManagerApp">
<head>
    <meta charset="utf-8">
    <title>Resource Manager</title>
    <link rel="stylesheet" href="/Content/themes/semantic/semantic.min.css" />
    <link rel="stylesheet" href="/Content/themes/Site.css" />
    <link rel="stylesheet" href="/Content/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" href="/Content/themes/select2/select2.min.css" />
</head>
<body>
    <div ng-controller="ResourceMngrCtrl">
        @RenderBody()
        <footer></footer>
    </div> 
    @RenderSection("Scripts",false)
</body>
</html>