
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .ui.form {
        margin-left: 10px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .ui.form {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .ui.form {
        margin: 0 auto !important;
        align-content: center;
        width: 50%;
    }

        .ui.form .field {
            width: 55% !important;
        }
}

.ui.form textarea {
}

/*.ui.small.form select {
    font-size: 1em;
}*/




/*.ui.form select {
    width: 100%;
    margin: 0em;
    padding: 0.85em 1.2em;
    font-size: 0.875em;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    border-radius: 0.3125em;
    -webkit-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -o-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -ms-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

/*option {
    margin: 0em;
    padding: 0.85em 1.2em;
    font-size: 0.875em;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    border-radius: 0.3125em;
    -webkit-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -o-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -ms-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
    -webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/


body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ui.small.table.segment th, tr {
    font-size: small;
}


.menu-container {
    margin-bottom: 1rem;
}

.error-message {
    color: #e80c4d;
    padding: 5px;
    font-size: 1em;
}

input.ng-invalid-required {
    border-left: 5px solid #e80c4d !important;
}

select.ng-invalid-required {
    border-left: 5px solid #e80c4d !important;
}

input.ng-valid-required {
    border-left: 5px solid #6ECFF5 !important;
}

textarea.ng-valid-required {
    border-left: 5px solid #6ECFF5 !important;
}

input:focus {
    border-left: 5px solid #6ECFF5 !important;
    box-shadow: none !important;
    border-bottom-left-radius: .325em !important;
    border-top-left-radius: .325em !important;
}

input.ng-invalid-required:focus {
    border-left: 5px solid #6ECFF5 !important;
    box-shadow: none !important;
    border-bottom-left-radius: .325em !important;
    border-top-left-radius: .325em !important;
}


textarea.ng-invalid-required {
    border-left: 5px solid #e80c4d !important;
}


textarea:focus {
    border-left: 5px solid #6ECFF5 !important;
    box-shadow: none !important;
    border-bottom-left-radius: .325em !important;
    border-top-left-radius: .325em !important;
}

textarea.ng-invalid-required:focus {
    border-left: 5px solid #6ECFF5 !important;
    box-shadow: none !important;
    border-bottom-left-radius: .325em !important;
    border-top-left-radius: .325em !important;
}

textarea {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.show {
    display: block;
}

.hide {
    display: none;
}
