<div>
    <h5 class="ui header">Resource Details</h5>
    <div class="ui divider"></div>
    <div style="font-size:small">
        <div>
            <strong>{{resource.Name}}</strong> <br />
            <p>{{resource.Description}}</p>

            <div>

                <div>
                    <span style="width:50%;">Priority:</span>       {{resource.Priority}}
                </div>

                <div>

                    <span style="width:50%;">Path:</span>        {{resource.Path}}


                </div><div>

                    <span style="width:50%;">Location:</span>         {{resource.LocationName}}


                </div>
            </div>
        </div>
    </div>

    <br /><div style="float:right;">
        <a class="ui blue mini button" href="/Activities/Add/?resourceId={{resource.Id}}">New Activity</a>
    </div><br /><br />
    <resource-activity-list activities="resource.Activities" />

</div>
