<h5 class="ui header">Edit Resource</h5>
<div class="ui divider"></div>
<form name="resourceform" role="form" class="ui {loading} secondary small form segment" ng-cloak>
    <h5 class="ui header">Edit Resource</h5>
    <div class="ui divider"></div>
    <div class="field">
        <label for="name">
            Name<span style="color: Red">*</span>
        </label>
        <input type="text" id="name" placeholder="Name" required data-ng-model="resource.Name" />
    </div><div class="ui divider"></div>
    <div class="field">
        <label for="description">
            Description<span style="color: Red">*</span>
        </label>
        <textarea id="description" placeholder="Description" required data-ng-model="resource.Description"></textarea>
    </div><div class="ui divider"></div>
    <div class="field" style="margin-bottom:10px;">
        <label for="location">
            Location<span style="color: Red">*</span>
        </label>
        <select ui-select2 data-ng-model="resource.LocationId" data-ng-required="true" data-placeholder="Location" style="width:100%;">
            <option value="">--Select--</option>
            <option ng-repeat="l in locations" value="{{l.Id}}">{{l.Name}}</option>
        </select>
    </div><div class="ui divider"></div>
    <div class="field">
        <label for="path">
            Path<span style="color: Red">*</span>
        </label>
        <input type="text" id="path" placeholder="Path" required data-ng-model="resource.Path" />
    </div><div class="ui divider"></div>
    <div class="field" style="margin-bottom:10px;">
        <label for="priority">
            Priority<span style="color: Red">*</span>
        </label>
        <select ui-select2 style="width:100%;" id="priority" ng-required="true" data-placeholder="Priority" ng-model="resource.Priority">
            <option value="">--Select--</option>
            <option ng-repeat="p in priorities" value="{{p.priority}}">{{p.priority}}</option>
        </select>
    </div><div class="ui divider"></div>
    <div class="inline field">
        <button data-ng-click="editResource(resource)" data-ng-disabled="resourceform.$invalid" class=" ui blue mini button">
            Submit
        </button>
        <a class="ui black mini button" href="/Resources">Cancel</a>
    </div>
</form>
