<h5 class="ui header">Resources</h5>
<div class="ui divider"></div>
<div class="ui active inverted dimmer" data-ng-hide="loaded">
    <div class="ui text loader">Loading</div>
</div> <div data-ng-show="loaded">
    <table class="ui small table segment">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
            <tr>
                <td class="danger" colspan="4" data-ng-show="haveContent">
                    There are no resources in server
                </td>
            </tr>
            <tr data-ng-repeat="resource in resources">
                <td>
                    <a  href="#/Resources/{{resource.Id}}">{{resource.Name}}</a>
                </td>
                <td>
                    {{resource.Description}}
                </td>
                <td style="width: 4%;">
                    <a href="#/ResourceEdit/{{resource.Id}}"><i class="edit icon"></i></a>
                </td>
                <td style="width: 4%;">
                    <a href="javascript:;" data-ng-click="deleteResource(resource.Id)"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="float: right;">
        <a class="ui mini blue button" href="/ResourceAdd">Create new</a>
    </div>
</div>

